@mixin accordion-position {
  margin-left: 30px !important;
  width: 70vw;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  border-radius: 0 !important;
}

@mixin shadow-in-all-directions {
  $offset-x: 5px;
  $offset-y: 5px;
  $blur-radius: 5px;
  $spread-radius: 5px;
  
  box-shadow: $offset-x $offset-y $blur-radius $spread-radius $dark-shadow-color;
}