$color-fondo: #efeff4;
$color-accent: #a1297e;
$color-footer: #808080;
$color-subrayado: #a1297e;
$color-active: $color-accent;
$color-inactive: #6c757d;

//$color-letraprincipal: #6c757d;
//$color-fondoBarra: #808080;
//$color-footer: #808080;
//$color-iconos-footer: black;

// General typography
$normal-text-font: "Roboto", sans-serif;
$normal-text-size: 1rem;
$normal-text-weight: 400;