form {
  border-radius: 50px;
  h1 {
    text-transform: uppercase;
  }
}

.form-control {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;

  border-radius: 50px;
}

// * {
//   -webkit-border-radius: 4px !important;
//   -moz-border-radius: 4px !important;
//   border-radius: 4px !important;
//   -webkit-border-top: 4px !important;
//   -moz-border-top: 4px !important;
//   border-top: 4px !important;
//   -webkit-border-bottom: 4px !important;
//   -moz-border-bottom: 4px !important;
//   border-bottom: 4px !important;
// }
