@import "../utilities/variables";

h1 {
  font-family: helvetica;
}

h2 {
  font-family: helvetica;
}

h5 {
  font-family: helvetica;
}

label {
  font-family: helvetica;
}

p {
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.5rem;
}
